@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style pour les éléments du menu */
.item {
  @apply block py-2 px-2 hover:bg-gray-700 rounded;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-3px); }
  80% { transform: translateX(3px); }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

